<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
        <testsuites>
          <testsuite name="Meetup/Login test suite">
            <directory>tests/Core</directory>
          </testsuite>
        </testsuites>
</phpunit>
